body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.tituloPag{
    font-family: Georgia;
    color:#F7882F;
}

.containerMoneda {
    display: flex;
    height: 40vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.titulo-resultado {
    color: green;
}

.img-titulo{
    width:4%;
}

.invalid-feedback{
    display: block; 
    opacity: 0;
    transition: opacity 0.2s;
}

